@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
 * CSS Settings For HTML Div ExactCenter
 * ------------------------------------------------*/

 /* -------------------------------------------------------- MAIN STYLESHEET -------------------------------------------------------- */
h2 {
    background-color:#FEFFED;
    text-align:center;
    border-radius:10px 10px 0 0;
    margin:-10px -40px;
    padding:15px
}

h3 {
    color:grey;
    text-align:center;
}

hr {
    border:0;
    border-bottom:1px solid #ccc;
    margin:10px -40px;
    margin-bottom:30px
}

.vr {
    position:absolute;
    border-right:1px solid #ccc;
    color:solid #000;
}

/* -------------------------------------------------------- LOGIN STYLESHEET -------------------------------------------------------- */


#login {
    width:300px;
    float:left;
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:70px
}
input[type=text],input[type=password] {
    width:95%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:raleway
}
input[type=submit] {
    position:absolute;
    width:100px;
    background-color:#5087B6;
    color:#fff;
    border:2px solid #5087B6;
    right:30px;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px
}
#profile {
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7
}
#logout {
    float:right;
    padding:5px;
    border:dashed 1px gray
}
a {
    text-decoration:none;
    color:#6495ed;
    font-family:raleway;
}
i {
    color:#6495ed
}


/* ------------------------------------------------------ HOMEPAGE STYLESHEET ------------------------------------------------------ */
#nav_bar {
    position:relative;
    width:100%;
    height:55px;
    background-color:#CBE4FA;
    border:0.1em solid #000;
    padding: 4px;
}

#login_button {
    position:absolute;
    right:0px;
    bottom:0px;
    width:300px;
    text-align:center;
    background-color:#E3EDFA;
}

#popup_main {
    z-index:99;

    width:100%;
    height:100%;


    top:0;
    left:0;

    display:none;
    position:fixed;

    background-color:rgba(0,0,0,0.6);
    overflow:auto;
}

#block {
    z-index:100;
    position:relative;
    margin:2% auto;
    opacity:1;
    width:900px;
    height:600px;

    border:2px solid gray;
    border-radius:10px;

    font-family:'Raleway',sans-serif;
    background-color:#fff;
    overflow:hidden;
}

#close_popup_main:before {
    content:'x';
    color:#5087B6;
}

#close_popup_main {
    position:absolute;
    right:20px;
    top:10px;
    font-size:30px;
    cursor:pointer;
}

#register_form {
    position:relative;

    top:40px;
    left:10px;

    width:380px;
    height:500px;

    padding:10px 30px;
    font-family:'Raleway',sans-serif;
}

#login_form {
    position:absolute;

    top:40px;
    right:60px;

    width:380px;
    height:500px;

    padding:10px 30px;
    font-family:'Raleway',sans-serif;
}

#disclaimer {
    position:absolute;
    z-index:99;

    bottom:40px;
    left:35px;

    width:750px;
    font-family:'Raleway',sans-serif;
}

.title {
    font-family:'Raleway',sans-serif;
    font-weight:bold;
    color:#5087B6;
}

#main {
    position:relative;
}

#head {
    position:relative;
    width:100%;
    height:20%;
}


#body {
    position:relative;
    width:100%;
    height:100%;
    /*border:2px solid gray;
    border-radius:10px;*/
}

#content {
    position:relative;
    display:inline-block;
    width:70%;
    left:0px;
    height:100%;
    padding:10px;

    /*border:2px solid gray;
    border-radius:10px;*/
}

#ads {
    position:absolute;
    display:inline-block;
    width:25%;
    right:0px;
    height:100%;
    padding:10px;
    /*border:2px solid gray;
    border-radius:10px;*/
}

.valid {
    position:absolute;

    text-align:center;
    font-size:25px;

    width:20px;
    height:20px;
}

.error {
    position:absolute;

    color: red;

    width:200px;
    height:75px;
    font-family:'Raleway',sans-serif;
}

#foot {
    position:relative;
    bottom:0px;

    width:625px;
    height:225px;

    margin-left:auto;
    margin-right:auto;

    border:1px solid #ccc;
    border-radius:10px;
}

.extras {
    position:absolute;

    text-align: center;

    width:150px;
    height:230px;

}

#trademark {
    position:relative;
    bottom:0px;

    text-align: center;
    font-size:13px;
    color:grey;
    width:700px;
    height:30px;

    margin-left:auto;
    margin-right:auto;
}

.new {
    width: 100%;
    height: 55px;

    text-align:center;
    color:#5087B6;
    font-size:20px;
    background-color:#E3EDFA;

    margin-left:auto;
    margin-right:auto;

    border:1px solid #5087B6;
    border-radius:10px;
}

.subscribe { /* if not subscribed, show green  */
    width: 50%;
    height: 30px;

    text-align:center;
    color:#ffffff;
    font-size:20px;
    background-color:#70db70;

    margin-left:auto;
    margin-right:auto;

    border:1px solid #33cc33;
    border-radius:10px;
}

.unsubscribe { /* if subscribed, show red.*/
    width: 50%;
    height: 30px;

    text-align:center;
    color:#ffffff;
    font-size:20px;
    background-color:#ff4d4d;

    margin-left:auto;
    margin-right:auto;

    border:1px solid #ff0000;
    border-radius:10px;
}

.nav-title {
    display: inline;
    padding: 10px;
}

#page-title {
    font-size: large;
}

/* ------------ Posts ----*/
.post-votes-wrapper {
    padding-left: 10px;
    padding-top: 3px;
    text-align: center;
}

.vote-glyph {
    padding-left: 2px;

}

#navbar-saiddit {
    margin-bottom: 0px;
}

/* ------------------------------------------------------ NEW_POST ------------------------------------------------------ */

#content_submit {
    position:relative;
    display:inline-block;
    width:70%;
    left:0px;
    height:100%;
    padding:10px;
    padding-left: 20px;
}

#ads_submit {
    position:absolute;
    display:inline-block;
    width:25%;
    right:0px;
    height:100%;
    padding:10px;

}

.div_new_post {
	position:relative;
	width:100%;
    background-color:#CBE4FA;
    font-size:15px;
    border:2px #CBE4FA;
    border-radius:10px;
    padding:5px;
    min-height:50px;
}



#warning_new_post {
    height:100px;
    width:100%;
    font-size:20px;
    background-color:#FFDDA2;
    border:1px solid red;
    padding:5px;
}

.textarea_form{
	width:95%;
    resize: none;
}

/* ------------------------------------------------------ NEW_COMMENT ------------------------------------------------------ */

#popup_comment {
    z-index:99;

    width:100%;
    height:100%;


    top:0;
    left:0;

    display:none;
    position:fixed;

    background-color:rgba(0,0,0,0.6);
    overflow:auto;
}

#comment_block {
    z-index:100;
    position:relative;
    margin:2% auto;
    opacity:1;
    width:450px;
    height:350px;

    border:2px solid gray;
    border-radius:10px;

    font-family:'Raleway',sans-serif;
    background-color:#fff;
    overflow:hidden;
}

#close_popup_comment:before {
    position:relative;
    left:-10px;
    top:-10px;
    content:'x';
    color:#5087B6;
    z-index:101;
}

#close_popup_comment {
    position:absolute;
    right:20px;
    top:10px;
    font-size:30px;
    cursor:pointer;
}

#comment_content {
    width: 100%;
    height: 250px;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid black;
}

#submit_comment {
    position:relative;
    left:0px;
}

/* ------------------------------------------------------ ACCOUNT SETTINGS ------------------------------------------------------ */



#popup_settings {
    z-index:99;

    width:100%;
    height:100%;


    top:0;
    left:0;

    display:none;
    position:fixed;

    background-color:rgba(0,0,0,0.6);
    overflow:auto;
}

#block_settings {
    z-index:100;
    position:relative;
    margin:2% auto;
    opacity:1;
    width:500px;
    height:650px;

    border:2px solid gray;
    border-radius:10px;

    font-family:'Raleway',sans-serif;
    background-color:#fff;
    overflow:hidden;
}

#close_popup_settings:before {
    content:'x';
    color:#5087B6;
}

#close_popup_settings {
    position:absolute;
    right:20px;
    top:10px;
    font-size:30px;
    cursor:pointer;
}

#settings_form {
    position:absolute;

    top:40px;
    left:10px;

    width:480px;
    height:600px;

    padding:10px 30px;
    font-family:'Raleway',sans-serif;
}

#delete_account {
    position:absolute;
    left:85px;
    bottom:0px;

    background-color:red;
    width:300px;
    padding:10px 30px;
    font-family:'Raleway',sans-serif;

    font-size:12px;
    color:white;
    border:2px solid gray;
    border-radius:10px;
}

#submit_changes {
    position:absolute;
    left:85px;
    bottom:50px;

    width:300px;
    padding:10px 30px;
    font-family:'Raleway',sans-serif;

    font-size:12px;
    color:white;
    border:2px solid gray;
    border-radius:10px;
}




